*{
    background-color: rgb(250, 235, 215);
}

h1,
h2,
h3,
h4{
    font-family: 'Courier New', 'Geogria', sans-serif;
}

h1{
    text-align: center;
    border: 5px dotted;
    width: 500px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top:20px;
}

.recipe-list{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.recipe-list li a{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

ul,
ol,
p{
    font-family: 'Lucida Console', 'Courier New', sans-serif;
}

img{
    border: 4px solid;
}

.image-flex-container{
    display: flex;
}

.flex-item-description{
    margin-left: 20px;
    width: 600px;
    margin-top: 100px;
}

.flex-item-description h2{
    text-align: left;
}
