*{
    background-color: rgb(250, 235, 215);
    margin-right: 10px;
}

h1,
h2,
h3,
h4{
    font-family: 'Courier New', 'Geogria', sans-serif;
}

h1{
    text-align: center;
    border: 5px dotted;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
} 

.recipe-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.recipe-list li a{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

ul,
ol,
p{
    font-family: 'Lucida Console', 'Courier New', sans-serif;
}

img{
    border: 4px solid;
}

.image-flex-container{
    display: flex;
    
}

.flex-item-description{
    margin-left: 20px;
    width: 600px;
    
}

.flex-item-description h2{
    text-align: left;
    margin-top: 0px;
}



















